body {

	background: url(../louvre-accueil-image-de-fond-23.jpg) 50% 0 repeat-x;

}


#content {
    background: #fff;
}

h1 {
	text-align: center;
}
.nav {
    display: table;
    width: 100%;
    margin: 32px 0;
}

.nav li {
    text-align: center;
    display: table-cell;
}

.nav > li >span {
    padding: 12px;
	background: #fff;
}
.nav > li.active >span {
    color: #fff;
    background-color: #5bc0de;
    border-radius: 4px;
}


h2 {
    background: #b42424;
    font-size: 1.4em;
    padding: 8px 12px;
    color: #fff;
    border-radius: 4px;
}

.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 0;
}

#commande_date {
	margin: 0 150px;
}


#stripe-form {
    margin: 32px 0;
}

.StripeElement {
  background-color: rgba(51, 122, 183, 0.11);
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#recap .visiteur {
	white-space: nowrap;
}

footer.main {
    margin-top:40px;
    padding:40px;
}
/* Resppnsive */
@media (max-width: 768px) {
    #commande_date {
        margin: initial;
    }

    h1 img {
        max-width: 100%;
    }

    #content {
        padding:0;
    }
}