<html>
    <head>
        <style>
            .logo {
                text-align:center;
            }
        </style>

    </head>
    <body>
        <p class="logo"><a href="https://www.louvre.fr"><img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/phrack/Musee_Du_Louvre.png') }}" alt="Musée du Louvre" width="150" /></a></p>
        Bonjour {{ var.prenom }} {{  var.nom }},

        <br /><br />Merci pour votre commande de tickets pour votre visite du {{  var.date_visite }}.
        <br />Votre réservation porte la référence unique: {{  var.code_reservation }}.
        <br />Vous disposez de billets de type {{ var.type_billet }}.
        <br /><br />Voici le récapitulatif de votre commande:
        <br/>

        <table>
            <tr>
                <td>Nom</td>
                <td>Date de naissance</td>
                <td>Billet</td>
                <td>Tarif</td>
            </tr>
        {% for visitor in var.visitors %}
            <tr>
                <td>{{ visitor.firstname }} {{ visitor.lastname }} </td>
                <td>{{ visitor.birthdate.format('d/m/Y') }}</td>
                <td>{{ visitor.getProductVariation().getDescription() }}</td>
                <td>{{ visitor.price }}</td>
            </tr>
        {% endfor %}
        </table>
        <br /><br />
        <div class="total">
            <strong>Total de votre commande: {{ var.total }}€</strong>
        </div>
    </body>
</html>
