<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>{% block title %}Musée du Louvre - Billeterie{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets filter='cssrewrite'
          '../vendor/twbs/bootstrap/dist/css/bootstrap.min.css'
          '../components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'
          'bundles/phrack/css/louvre.css'
            output='css/styles.min.css' 
        %}
          <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        {% javascripts
            '../components/jquery/jquery.min.js'
            '../vendor/twbs/bootstrap/dist/js/bootstrap.min.js'
            '../components/moment/min/moment-with-locales.min.js'
            '../components/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'
            filter='?jsqueeze'
            output='js/app.js' 
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        <div class="container">
            <div class="row">

                <div class="col-sm-3 col-xs-1">
                </div>
                <div id="content" class="col-sm-6 col-xs-10">
                    <header class="main">
                        <h1><img src="{{ asset('bundles/phrack/Musee_Du_Louvre.png') }}" alt="Musée du louvre" /></h1>
                    </header>
                    <main>
                    {% block body %}{% endblock %}
                    </main>
                    <footer class="main">
                        &copy; 2017 <a href="http://www.louvre.fr/">Musée du Louvre</a> -  Rue de Rivoli, 75001 Paris
                    </footer>
                </div>
                <div class="col-sm-3 col-xs-1">
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
