{% extends 'PhrackCoreBundle::layout.html.twig' %}

{% block body %}
    <p class="text-center"><a href="{{ url('Phrack_core_formResaDate') }}" class="btn btn-primary btn-lg">Accès à la billeterie</a></p>

{% endblock %}

{% block javascripts %}

{% endblock %}
