{% extends 'PhrackCoreBundle::layout.html.twig' %}

{% block body %}
	<div class="row">
	<ul class="nav" role="tablist">
	  <li role="presentation"><span>Billets </span</li>
	  <li role="presentation"><span>Visiteurs</span></li>
	  <li role="presentation" class="active"><span>Paiement</span></li>
	  <li role="presentation"><span>Billets</span></li>
	</ul>
	</div>
	<div class="row">
		<h2>Récapitulatif</h2>
		<table id="recap" class="table">
			<thead>
				<tr>
					<th>Nom</th><th>Type billet</th><th>Prix</th>
				</tr>
			</thead>
			<tbody>
			 {% for visitor in visitors %}
		         <tr>
		         	<td class="visiteur">{{ visitor.firstname }} {{ visitor.lastname }}</td>
					<td>{{ visitor.productVariation.description }}</td>
					<td>{{ visitor.price }}</td>
				</tr>
			{% endfor %}
			<tr>
		         	<td colspan="2" class="text-right"><strong>TOTAL à payer: </strong></td>
					<td><strong>{{ reservation.getTotalAmount() }}</strong></td>
				</tr>
			</tbody>
		</table>
	</div>

	{% form_theme form 'bootstrap_3_layout.html.twig'  %}
	{{ form_start(form, {'attr': {'id': 'payment-form'}}) }}
	<div class="row">
		{{ form_widget(form._token) }}
	   	{{ form_widget(form.paymentToken) }}
	   	{{ form_widget(form.amount, {'value' :  amount}) }}
		
		{{ form_row(form.lastname, {'label':  "Nom" }) }}
		{{ form_row(form.firstname, {'label':  "Prénom" }) }}
		{{ form_row(form.email, {'label':  "Email" }) }}
		{% if flash %}
			<div class="alert alert-{{ flash['level'] }}">{{ flash['message'] }}</div>
		{% endif %}
		<div id="stripe-form">
			<label for="card-element">Carte de crédit</label>
		    <div id="card-element"><!-- a Stripe Element will be inserted here. --></div>
		    <div id="card-errors" role="alert"></div>
		</div>
	</div>
  	<div class="row text-right">
	    {{ form_row(form.submit, {'label':  "Payer"}) }}
	</div>
{% endblock %}

{% block javascripts %}
	
	<script src="https://js.stripe.com/v3/"></script>
	<script>
		var stripe = Stripe('{{ stripe_public_key }}');
		var elements = stripe.elements();

		
		var style = {
		  base: {
		    // Add your base input styles here. For example:
		    fontSize: '16px',
		    lineHeight: '24px'
		  }
		};

		// Create an instance of the card Element
		var card = elements.create('card', {style: style});

		// Add an instance of the card Element into the `card-element` <div>
		card.mount('#card-element');

		card.addEventListener('change', function(event) {
		  var displayError = $('#card-errors');
		  if (event.error) {
		    displayError.textContent = event.error.message;
		  } else {
		    displayError.textContent = '';
		  }
		});


		// Create a token or display an error when the form is submitted.
		var form = document.getElementById('payment-form');
		form.addEventListener('submit', function(event) {
		  event.preventDefault();
		  console.log('submit')

		  stripe.createToken(card).then(function(result) {
		    if (result.error) {
		      // Inform the user if there was an error
		      var errorElement = $('#card-errors');
		      errorElement.textContent = result.error.message;
		    } else {
		    	 stripeTokenHandler(result.token);
		      
		    }
		  });
		});

		function stripeTokenHandler(token) {
		  // Insert the token ID into the form so it gets submitted to the server
		  var form = document.getElementById('payment-form');
		  $('#checkout_paymentToken').val(token.id);

		  // Submit the form
		  form.submit();
		}
	</script>
{% endblock %}
