{% extends 'PhrackCoreBundle::layout.html.twig' %}

{% block body %}
	<div class="row">
			<ul class="nav" role="tablist">
			  <li role="presentation" class="active"><span>Billets </span</li>
			  <li role="presentation"><span>Visiteurs</span></li>
			  <li role="presentation"><span>Paiement</span></li>
			  <li role="presentation"><span>Billets</span></li>
			</ul>
	</div>
			{% if flash %}
				<div class="alert alert-{{ flash['level'] }}">{{ flash['message'] }}</div>
			{% endif %}
			
			{% form_theme form 'bootstrap_3_layout.html.twig'  %}
			{{ form_start(form) }}
				{{ form_row(form._token) }}
			    <div class="row">

						<h2>Choisissez une date disponible</h2>
						{{ form_row(form.dateReservation, {'label':  "Date de réservation" , 'value': today}) }}
						<div id="commande_date"></div>
				</div>

				<div class="row">
					<h2>Choisissez vos billets</h2>
					{{ form_row(form.product, {'label':  "Billet"}) }}

					{{ form_row(form.nb_tickets, {'label':  "Nombre de tickets"}) }}

				</div>
				
			    <div class="row text-right">
			    	{{ form_row(form.submit, {'label':  "Etape suivante: Visiteurs"}) }}
				</div>
			
{% endblock %}

{% block javascripts %}
<script>
	var today = moment();

	
	var currYear = today.year();

	$('#commande_date').datetimepicker({
		"format": "dd/MM/YYYY",
		"locale": "fr",
        "minDate": today.valueOf(),
        "inline": true,
        "daysOfWeekDisabled": [0,2],
        "disabledDates": [moment(currYear + "-05-01"), moment(currYear + "-11-01"), moment( currYear + "-12-25")]
    });


    $("#commande_date").on("dp.update", function (e) {
        currYear = e.viewDate.year();
        $("#commande_date").data("DateTimePicker").disabledDates([moment(currYear + "-05-01"), moment(currYear + "-11-01"), moment( currYear + "-12-25")]);
    });

    $("#commande_date").on("dp.change", function (e) {
        $('#resa_dateReservation').val($("#commande_date").data("DateTimePicker").date().format('YYYY-MM-DD'));
    });
</script>
{% endblock %}
