{% extends 'PhrackCoreBundle::layout.html.twig' %}

{% block body %}

    <div class="jumbotron">
    	
        <h1>Paiement effectué </h1>
        <p>
            Le paiement de votre commande {{ code_reservation }} a bien été pris en compte,
  			{% if flash %}
  			<div class="alert alert-{{ flash['level'] }}">{{ flash['message'] }}</div>
        	{% endif %}
        </p>
        <p><a href="{{ url('Phrack_core_formResaDownloadTicket') }}/{{ code_reservation }}" class="btn btn-lg btn-warning">Télécharger vos billets</a></p>
        
    </div>

{% endblock %}

{% block javascripts %}
	
{% endblock %}
