{% extends 'PhrackCoreBundle::layout.html.twig' %}

{% block body %}
<div class="row">
	<ul class="nav" role="tablist">
	  <li role="presentation"><span>Billets </span</li>
	  <li role="presentation" class="active"><span>Visiteurs</span></li>
	  <li role="presentation"><span>Paiement</span></li>
	  <li role="presentation"><span>Billets</span></li>
	</ul>
	</div>

	{% form_theme form 'bootstrap_3_layout.html.twig'  %}
	{{ form_start(form) }}
		{{ form_widget(form._token) }}
   		<h2>Identité des visiteurs</h2>
		 {% for visitor in form.visitor %}
	         <section>
	         	<legend>Visiteur {{ loop.index }}</legend>     
			    
				{{ form_row(visitor.firstname, {'label':  "Nom" }) }}
				{{ form_row(visitor.lastname, {'label':  "Prénom" }) }}
				{{ form_row(visitor.birthday, {'label':  "Date de naissance" }) }}
				{{ form_row(visitor.country, {'label':  "Pays" }) }}
				{{ form_row(visitor.reductedPrice, {'label':  "Tarif réduit" }) }}
			</section>
		{% endfor %}
		<div class="row text-right">
	    	{{ form_row(form.submit, {'label':  "Etape suivante: Paiement"}) }}
		</div>
{% endblock %}

{% block javascripts %}

{% endblock %}
