{% extends 'PhrackCoreBundle::layout.html.twig' %}

{% block body %}
    <div clas="jumbotron">
        <h2>Erreur de réservation</h2>
        Le code de réservation est incorrect, merci de vérifier
        <p class="text-center"><a href="{{ url('Phrack_core_formResaDate') }}" class="btn btn-primary btn-lg">Accès à la billeterie</a></p>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
